*{
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
}
.background {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 30%;
    top: 50%;
  }
  .background form {
    height: 520px;
    width: 400px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 49%;
    margin-left: 150%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
  }
  .background form * {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #000000;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
  }
  .background form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 2px;
    text-align: center;
  }
  .background label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
  }
  .background input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(73, 69, 69, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
  }
  ::placeholder {
    color: #262424;
  }
  .background button {
    margin-top: 30px;
    width: 100%;
    background-color: rgba(246, 11, 11, 0.07);
    color: #000000;
    padding: 15px 0;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }
  .social {
    margin-top: 30px;
    display: flex;
  }
  .social div {
    background: red;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255,255,255,0.27);
    color: #eaf0fb;
    text-align: center;
  }
  .social div:hover {
    background-color: rgba(255,255,255,0.47);
  }
  .social .fb {
    margin-left: 25px;
  }
  .social i {
    margin-right: 4px;
  }
  .FontAwesomeIcon{
     color: black;
  }
  .new{
    margin-top: 70px;
  }

.background .sign{
  margin-bottom: 100px;
}

.f-contain header{
  font-size: xx-large;
  margin-left: 200px;
  margin-top: 10%;
  margin-bottom: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

label{
  color: #333;
}

.input-box{
  display: flex;
  flex-direction: column;
  padding-left: 45px;
}

input{
  position: relative;
  height: 40px;
  width: 250px;
  margin-top: 2px;
  outline: none;
  color: black;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
  margin-bottom: 23px;
}

.res{
  display: flex;
}

.f-contain button{
  outline: none;
  color: black;
  border: 1px solid #ddd;
  border-radius: 6px;
  height: 40px;
  width: 200px;
  margin-top: 50px;
  margin-left: 210px;
}

.column img{
  margin-left: 1
  00px;
}
.create img{
  padding-left: 45%;
}
.column{
  display: flex;
}
.menu{
  background-color:#10161f ;
  height: 650px;
  width: 250px;
  margin-left: 15px;
  margin-top:15px ;
  border-radius:  15px;
  position: fixed;
}
.name{
color: white;
margin-left:20px;
padding-top: 20px;
}
.menu p{
color: rgb(255, 255, 255);
font-size:25px;
font-family:monospace;
margin: 30px;
margin-top: 40px;

padding: 10px;
border-radius: 6px;
}
.menu svg{
margin-right: 20px;

}

.menu p:hover{

background-color:#86949F;
color: white;

}
.up-form{

  margin-left:24%;
  padding-top:8%

}
.up-input-box{
  display: flex;
  flex-direction: column;
  padding-left: 45px;
}

.up-form button{
  outline: none;
  color: black;
  border: 1px solid #ddd;
  border-radius: 6px;
  height: 40px;
  width: 100px;
  margin-top: 50px;
  margin-left: 110px;
}

.box{
  box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.15);
  width: 980px;
  height: 60px;
  margin-left: 2%;
  background-color:#10161f ;
  color: white;
  border-radius: 10px;
  margin-bottom: 12px;
 
 
}
.box-content{
  display: flex;
  padding: 2%;
}
.dash-main-admin h2{
  margin-bottom: 20px;

}
.box-content svg{
margin-right: 20px;
}
.box-content p{
  margin-left: 20%;
}
.option{
  display: flex;

}
.option .up{
  box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 40px;
  margin-left: 2%;
  background-color:#10161f ;
  color: white;
  border-radius: 10px;
  margin-bottom: 12px;

}
.dash-main-admin{
  margin-top: 40px;
  margin-left: 300px;

}
.up p{
 display: flex;
 justify-content: center;
 margin-top: 10px;
}

.display-box{
  background-color:#10161f ;
  height: 250px;
  width: 300px;
  margin-left: 55px;
  border-radius:  15px;
  color: white;
}
.display-box svg{
  color: white;
  font-size: 600%;
margin-left: 105px;
margin-top: 30px;

}
.display-box h1{
  margin-left:20px ;
}
.box-down svg{
  font-size:25px;
  margin-top: 40px;
  margin-left: 124px;

}
.box-down {
  display: flex;
}
.box-down .user{
  margin-top:44px ;
  margin-left: 12px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.chat-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 600px;
  margin: auto;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
}

.chat-box {
  flex-grow: 1;
  overflow-y: auto;
  max-height: 400px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}



.chat-form {
  display: flex;
}

.chat-form input {
  flex-grow: 1;
  padding: 10px;
  margin-right: 40px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-top: 20px;
}

.chat-form  button{
  height: 50%;width: 60px;
}

.chat-message {
  display: flex;
  flex-direction: column;
  color:#10161f ;
  display: flex;
  border-radius: 8px;
  max-width: 800px;
  margin-bottom: 14px;

}

.chat-box svg{
  margin-right: 4px;
  font-size: 20px;

}
.chat-content{
  font-size: 25px;
  margin-top: 4px;
}

.chat-form button{
margin-top: 25px;
}
           

